## Data Wrangling for Zillow Rental/House prices

In [1]:
#Import libraries that will be used:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#Pull in the csv files from the download folder
#median rent
df_median_rent = pd.read_csv('../data/raw/City_MedianRentalPrice_AllHomes.csv')

In [14]:
#Median house price
df_median_home = pd.read_csv('../data/raw/City_Zhvi_AllHomes.csv')

## Data Defining - gaining understanding of data features to inform the next steps

In [13]:
#get head to see column names
df_median_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2800.0,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1500.0,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1775.0,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0

In [15]:
#looking at data types
df_median_home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27330 entries, 0 to 27329
Columns: 300 entries, Unnamed: 0 to 2020-03-31
dtypes: float64(291), int64(3), object(6)
memory usage: 62.6+ MB

In [ ]:
# We see that we have 1699 rows, 126 columns, of that 120 are floats, 2 are int's, and 4 are objects.

In [16]:
#get head to see column names
df_median_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2800.0,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1500.0,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1775.0,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0

In [17]:
#looking at data types
df_median_home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27330 entries, 0 to 27329
Columns: 300 entries, Unnamed: 0 to 2020-03-31
dtypes: float64(291), int64(3), object(6)
memory usage: 62.6+ MB

In [ ]:
# We see that we have 27,330 rows of data and 300 columns.  291 are floats, 3 are int's and 6 are objects.

In [18]:
#Get summary stats for both dataframes
df_median_home.describe()

,Unnamed: 0,RegionID,SizeRank,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
count,27330.000000,27330.000000,27330.000000,1.061700e+04,1.082300e+04,1.086400e+04,1.088600e+04,1.096600e+04,1.099600e+04,1.102700e+04,...,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04
mean,13664.500000,65503.787413,14746.725027,1.219672e+05,1.216621e+05,1.215214e+05,1.215839e+05,1.217755e+05,1.218581e+05,1.220267e+05,...,2.029051e+05,2.034545e+05,2.040310e+05,2.046374e+05,2.052243e+05,2.057486e+05,2.063022e+05,2.069170e+05,2.075952e+05,2.082987e+05
std,7889.635765,103118.832955,8791.175746,9.203687e+04,9.170803e+04,9.148739e+04,9.128655e+04,9.123573e+04,9.112448e+04,9.096034e+04,...,2.328879e+05,2.322759e+05,2.320536e+05,2.321621e+05,2.323428e+05,2.328264e+05,2.336311e+05,2.349156e+05,2.363567e+05,2.378801e+05
min,0.000000,3299.000000,0.000000,1.192900e+04,1.184000e+04,1.190100e+04,1.187400e+04,1.193200e+04,1.196500e+04,1.200700e+04,...,1.117700e+04,1.122300e+04,1.126600e+04,1.134900e+04,1.141300e+04,1.154600e+04,1.173800e+04,1.194500e+04,1.212200e+04,1.227900e+04
25%,6832.250000,18398.000000,7112.250000,6.852900e+04,6.844600e+04,6.829875e+04,6.845600e+04,6.855250e+04,6.862775e+04,6.876450e+04,...,9.779250e+04,9.816750e+04,9.853300e+04,9.886250e+04,9.924125e+04,9.949600e+04,9.972925e+04,1.000000e+05,1.001025e+05,1.002585e+05
50%,13664.500000,33660.500000,14453.000000,1.014940e+05,1.013100e+05,1.011960e+05,1.013055e+05,1.016345e+05,1.016885e+05,1.018490e+05,...,1.499025e+05,1.504585e+05,1.509760e+05,1.515350e+05,1.521440e+05,1.526030e+05,1.531035e+05,1.535030e+05,1.539470e+05,1.543755e+05
75%,20496.750000,49422.750000,22301.000000,1.492710e+05,1.487455e+05,1.487505e+05,1.488140e+05,1.490392e+05,1.493105e+05,1.497230e+05,...,2.346790e+05,2.353910e+05,2.360832e+05,2.373352e+05,2.381422e+05,2.390428e+05,2.398260e+05,2.406612e+05,2.413408e+05,2.421805e+05
max,27329.000000,760887.000000,29449.000000,1.764961e+06,1.765793e+06,1.762010e+06,1.772187e+06,1.775311e+06,1.785895e+06,1.781067e+06,...,1.393707e+07,1.362318e+07,1.344728e+07,1.332819e+07,1.326808e+07,1.328486e+07,1.334774e+07,1.348352e+07,1.358739e+07,1.366959e+07

In [19]:
df_median_rent.describe()

,Unnamed: 0,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
count,1699.00000,1699.000000,1.0,30.000000,62.000000,80.000000,83.000000,84.000000,90.000000,99.000000,...,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000
mean,849.00000,849.992348,895.0,1408.433333,1343.040323,1408.325000,1420.361446,1446.375000,1481.850000,1547.792929,...,1922.993231,1940.743967,1958.058564,1961.466157,1959.818128,1948.314891,1937.666569,1933.940259,1923.351383,1929.953208
std,490.60337,490.601169,NaN,444.181264,395.872934,473.968741,479.819442,507.469388,547.253574,663.246884,...,2039.147687,2050.303717,2137.045249,2119.174137,2040.416334,1895.394018,1839.838980,1931.682722,1811.601190,1884.996587
min,0.00000,1.000000,895.0,795.000000,737.500000,737.500000,750.000000,795.000000,775.000000,825.000000,...,550.000000,575.000000,575.000000,600.000000,600.000000,590.000000,565.000000,575.000000,575.000000,525.000000
25%,424.50000,425.000000,895.0,1112.500000,1058.750000,1050.000000,1061.250000,1076.875000,1095.000000,1100.000000,...,1300.000000,1300.000000,1325.000000,1325.000000,1318.750000,1325.000000,1300.000000,1300.000000,1300.000000,1300.000000
50%,849.00000,850.000000,895.0,1300.000000,1250.000000,1295.000000,1295.000000,1295.000000,1297.500000,1300.000000,...,1620.000000,1650.000000,1650.000000,1650.000000,1662.500000,1650.000000,1650.000000,1650.000000,1650.000000,1645.000000
75%,1273.50000,1274.500000,895.0,1600.000000,1500.000000,1671.875000,1660.000000,1687.500000,1837.500000,1800.000000,...,2100.000000,2100.000000,2125.000000,2150.000000,2175.000000,2150.000000,2150.000000,2141.250000,2100.000000,2100.000000
max,1698.00000,1699.000000,895.0,2400.000000,2500.000000,3300.000000,3225.000000,3200.000000,3325.000000,4200.000000,...,45000.000000,47500.000000,50000.000000,50000.000000,45000.000000,43333.000000,40000.000000,43333.000000,37500.000000,39250.000000

In [21]:
#Check for missing data

#Count with .sum() the number of missing values .isnull() in each column of 
#home_prices as well as the percentages .mean() instead of .sum()
#Order them using sort_values
#Call pd.concat to present these in a separate df with column names 'count' and '%'
missing_df_rent = pd.concat([df_median_rent.isnull().sum(), 100 * df_median_rent.isnull().mean()], axis=1)
missing_df_rent.columns=['count', '%']
missing_df_rent.sort_values(by='count', ascending=False)

            count          %
2010-01      1698  99.941142
2010-02      1669  98.234255
2010-03      1637  96.350795
2010-04      1619  95.291348
2010-05      1616  95.114773
...           ...        ...
RegionName      0   0.000000
SizeRank        0   0.000000
CountyName      0   0.000000
State           0   0.000000
2019-12         0   0.000000

[126 rows x 2 columns]

In [22]:
#Check for missing data in other data frame

#Count with .sum() the number of missing values .isnull() in each column of 
#home_prices as well as the percentages .mean() instead of .sum()
#Order them using sort_values
#Call pd.concat to present these in a separate df with column names 'count' and '%'
missing_df_home = pd.concat([df_median_home.isnull().sum(), 100 * df_median_home.isnull().mean()], axis=1)
missing_df_home.columns=['count', '%']
missing_df_home.sort_values(by='count', ascending=False)

            count          %
1996-01-31  16713  61.152580
1996-02-29  16507  60.398829
1996-03-31  16466  60.248811
1996-04-30  16444  60.168313
1996-05-31  16364  59.875595
...           ...        ...
2018-05-31      0   0.000000
2018-06-30      0   0.000000
2018-07-31      0   0.000000
2018-08-31      0   0.000000
2020-03-31      0   0.000000

[300 rows x 2 columns]

There will be some data that needs to be dropped since there are lots of missing values

In [23]:
#Going local, lets get the median home price of Denver County and create new DF

df_denver_county_home = df_median_home[df_median_home.CountyName == 'Denver County']

In [26]:
#get .head for this df
df_denver_county_home.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
23,23,11093,23,Denver,City,CO,CO,Denver-Aurora-Lakewood,Denver County,126922.0,...,454558.0,454578.0,455615.0,456193.0,456663.0,457096.0,458434.0,460255.0,462640.0,465466.0

In [25]:
#Let's also get the median rent price of denver county and create a new DF

df_denver_county_rent = df_median_rent[df_median_rent.CountyName == 'Denver County']

In [27]:
# get .head for rent df
df_denver_county_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
23,23,Denver,CO,Denver-Aurora-Lakewood,Denver County,24,NaN,NaN,NaN,NaN,...,2150.0,2200.0,2200.0,2200.0,2200.0,2195.0,2200.0,2200.0,2150.0,2150.0

In [92]:
rent_columns = list(df_denver_county_rent)
for i in rent_columns:
 
    # printing element
    print (df_denver_county_rent[i])

23    23
Name: Unnamed: 0, dtype: int64
23    Denver
Name: RegionName, dtype: object
23    CO
Name: State, dtype: object
23    Denver-Aurora-Lakewood
Name: Metro, dtype: object
23    Denver County
Name: CountyName, dtype: object
23    24
Name: SizeRank, dtype: int64
23   NaN
Name: 2010-01, dtype: float64
23   NaN
Name: 2010-02, dtype: float64
23   NaN
Name: 2010-03, dtype: float64
23   NaN
Name: 2010-04, dtype: float64
23   NaN
Name: 2010-05, dtype: float64
23   NaN
Name: 2010-06, dtype: float64
23   NaN
Name: 2010-07, dtype: float64
23   NaN
Name: 2010-08, dtype: float64
23   NaN
Name: 2010-09, dtype: float64
23    1100.0
Name: 2010-10, dtype: float64
23    1275.0
Name: 2010-11, dtype: float64
23    1275.0
Name: 2010-12, dtype: float64
23    1300.0
Name: 2011-01, dtype: float64
23    1350.0
Name: 2011-02, dtype: float64
23    1400.0
Name: 2011-03, dtype: float64
23    1350.0
Name: 2011-04, dtype: float64
23    1325.0
Name: 2011-05, dtype: float64
23    1295.0
Name: 2011-06, dtype: float64
23    1350.0
Name: 2011-07, dtype: float64
23    1350.0
Name: 2011-08, dtype: float64
23    1400.0
Name: 2011-09, dtype: float64
23    1400.0
Name: 2011-10, dtype: float64
23    1345.0
Name: 2011-11, dtype: float64
23    1300.0
Name: 2011-12, dtype: float64
23    1300.0
Name: 2012-01, dtype: float64
23    1300.0
Name: 2012-02, dtype: float64
23    1350.0
Name: 2012-03, dtype: float64
23    1400.0
Name: 2012-04, dtype: float64
23    1450.0
Name: 2012-05, dtype: float64
23    1450.0
Name: 2012-06, dtype: float64
23    1495.0
Name: 2012-07, dtype: float64
23    1495.0
Name: 2012-08, dtype: float64
23    1450.0
Name: 2012-09, dtype: float64
23    1400.0
Name: 2012-10, dtype: float64
23    1391.0
Name: 2012-11, dtype: float64
23    1400.0
Name: 2012-12, dtype: float64
23    1495.0
Name: 2013-01, dtype: float64
23    1500.0
Name: 2013-02, dtype: float64
23    1550.0
Name: 2013-03, dtype: float64
23    1600.0
Name: 2013-04, dtype: float64
23    1445.0
Name: 2013-05, dtype: float64
23    1495.0
Name: 2013-06, dtype: float64
23    1595.0
Name: 2013-07, dtype: float64
23    1432.0
Name: 2013-08, dtype: float64
23    1500.0
Name: 2013-09, dtype: float64
23    1692.5
Name: 2013-10, dtype: float64
23    1700.0
Name: 2013-11, dtype: float64
23    1750.0
Name: 2013-12, dtype: float64
23    1650.0
Name: 2014-01, dtype: float64
23    1650.0
Name: 2014-02, dtype: float64
23    1625.0
Name: 2014-03, dtype: float64
23    1650.0
Name: 2014-04, dtype: float64
23    1750.0
Name: 2014-05, dtype: float64
23    1800.0
Name: 2014-06, dtype: float64
23    1800.0
Name: 2014-07, dtype: float64
23    1800.0
Name: 2014-08, dtype: float64
23    1850.0
Name: 2014-09, dtype: float64
23    1895.0
Name: 2014-10, dtype: float64
23    1900.0
Name: 2014-11, dtype: float64
23    1895.0
Name: 2014-12, dtype: float64
23    1850.0
Name: 2015-01, dtype: float64
23    1995.0
Name: 2015-02, dtype: float64
23    1900.0
Name: 2015-03, dtype: float64
23    1900.0
Name: 2015-04, dtype: float64
23    1982.5
Name: 2015-05, dtype: float64
23    1995.0
Name: 2015-06, dtype: float64
23    2000.0
Name: 2015-07, dtype: float64
23    2095.0
Name: 2015-08, dtype: float64
23    2000.0
Name: 2015-09, dtype: float64
23    1950.0
Name: 2015-10, dtype: float64
23    1945.0
Name: 2015-11, dtype: float64
23    1950.0
Name: 2015-12, dtype: float64
23    1995.0
Name: 2016-01, dtype: float64
23    1975.0
Name: 2016-02, dtype: float64
23    1995.0
Name: 2016-03, dtype: float64
23    1995.0
Name: 2016-04, dtype: float64
23    1995.0
Name: 2016-05, dtype: float64
23    1995.0
Name: 2016-06, dtype: float64
23    1975.0
Name: 2016-07, dtype: float64
23    1975.0
Name: 2016-08, dtype: float64
23    1950.0
Name: 2016-09, dtype: float64
23    1900.0
Name: 2016-10, dtype: float64
23    1850.0
Name: 2016-11, dtype: float64
23    1900.0
Name: 2016-12, dtype: float64
23    1895.0
Name: 2017-01, dtype: float64
23    1950.0
Name: 2017-02, dtype: float64
23    1950.0
Name: 2017-03, dtype: float64
23    2000.0
Name: 2017-04, dtype: float64
23    2000.0
Name: 2017-05, dtype: float64
23    2000.0
Name: 2017-06, dtype: float64
23    2000.0
Name: 2017-07, dtype: float64
23    1995.0
Name: 2017-08, dtype: float64
23    1995.0
Name: 2017-09, dtype: float64
23    1995.0
Name: 2017-10, dtype: float64
23    1995.0
Name: 2017-11, dtype: float64
23    1995.0
Name: 2017-12, dtype: float64
23    2000.0
Name: 2018-01, dtype: float64
23    2095.0
Name: 2018-02, dtype: float64
23    2100.0
Name: 2018-03, dtype: float64
23    2175.0
Name: 2018-04, dtype: float64
23    2192.5
Name: 2018-05, dtype: float64
23    2100.0
Name: 2018-06, dtype: float64
23    2100.0
Name: 2018-07, dtype: float64
23    2100.0
Name: 2018-08, dtype: float64
23    2095.0
Name: 2018-09, dtype: float64
23    2000.0
Name: 2018-10, dtype: float64
23    2000.0
Name: 2018-11, dtype: float64
23    2000.0
Name: 2018-12, dtype: float64
23    2100.0
Name: 2019-01, dtype: float64
23    2100.0
Name: 2019-02, dtype: float64
23    2150.0
Name: 2019-03, dtype: float64
23    2200.0
Name: 2019-04, dtype: float64
23    2200.0
Name: 2019-05, dtype: float64
23    2200.0
Name: 2019-06, dtype: float64
23    2200.0
Name: 2019-07, dtype: float64
23    2195.0
Name: 2019-08, dtype: float64
23    2200.0
Name: 2019-09, dtype: float64
23    2200.0
Name: 2019-10, dtype: float64
23    2150.0
Name: 2019-11, dtype: float64
23    2150.0
Name: 2019-12, dtype: float64
23    CO Denver County
Name: state_county_for_joining, dtype: object

In [93]:
home_columns = list(df_denver_county_home)
for i in home_columns:
 
    # printing element
    print (df_denver_county_home[i])

23    23
Name: Unnamed: 0, dtype: int64
23    11093
Name: RegionID, dtype: int64
23    23
Name: SizeRank, dtype: int64
23    Denver
Name: RegionName, dtype: object
23    City
Name: RegionType, dtype: object
23    CO
Name: StateName, dtype: object
23    CO
Name: State, dtype: object
23    Denver-Aurora-Lakewood
Name: Metro, dtype: object
23    Denver County
Name: CountyName, dtype: object
23    126922.0
Name: 1996-01-31, dtype: float64
23    127499.0
Name: 1996-02-29, dtype: float64
23    127991.0
Name: 1996-03-31, dtype: float64
23    129031.0
Name: 1996-04-30, dtype: float64
23    129940.0
Name: 1996-05-31, dtype: float64
23    130819.0
Name: 1996-06-30, dtype: float64
23    131687.0
Name: 1996-07-31, dtype: float64
23    132391.0
Name: 1996-08-31, dtype: float64
23    133220.0
Name: 1996-09-30, dtype: float64
23    133969.0
Name: 1996-10-31, dtype: float64
23    135093.0
Name: 1996-11-30, dtype: float64
23    136089.0
Name: 1996-12-31, dtype: float64
23    137645.0
Name: 1997-01-31, dtype: float64
23    139004.0
Name: 1997-02-28, dtype: float64
23    140457.0
Name: 1997-03-31, dtype: float64
23    141496.0
Name: 1997-04-30, dtype: float64
23    142674.0
Name: 1997-05-31, dtype: float64
23    143911.0
Name: 1997-06-30, dtype: float64
23    145010.0
Name: 1997-07-31, dtype: float64
23    145936.0
Name: 1997-08-31, dtype: float64
23    146793.0
Name: 1997-09-30, dtype: float64
23    147848.0
Name: 1997-10-31, dtype: float64
23    149203.0
Name: 1997-11-30, dtype: float64
23    150556.0
Name: 1997-12-31, dtype: float64
23    151348.0
Name: 1998-01-31, dtype: float64
23    151862.0
Name: 1998-02-28, dtype: float64
23    152390.0
Name: 1998-03-31, dtype: float64
23    153235.0
Name: 1998-04-30, dtype: float64
23    154309.0
Name: 1998-05-31, dtype: float64
23    155399.0
Name: 1998-06-30, dtype: float64
23    156798.0
Name: 1998-07-31, dtype: float64
23    159299.0
Name: 1998-08-31, dtype: float64
23    161837.0
Name: 1998-09-30, dtype: float64
23    164337.0
Name: 1998-10-31, dtype: float64
23    164870.0
Name: 1998-11-30, dtype: float64
23    165820.0
Name: 1998-12-31, dtype: float64
23    166320.0
Name: 1999-01-31, dtype: float64
23    167845.0
Name: 1999-02-28, dtype: float64
23    169185.0
Name: 1999-03-31, dtype: float64
23    170969.0
Name: 1999-04-30, dtype: float64
23    172805.0
Name: 1999-05-31, dtype: float64
23    174845.0
Name: 1999-06-30, dtype: float64
23    177106.0
Name: 1999-07-31, dtype: float64
23    178517.0
Name: 1999-08-31, dtype: float64
23    179458.0
Name: 1999-09-30, dtype: float64
23    180370.0
Name: 1999-10-31, dtype: float64
23    182824.0
Name: 1999-11-30, dtype: float64
23    185419.0
Name: 1999-12-31, dtype: float64
23    188258.0
Name: 2000-01-31, dtype: float64
23    190618.0
Name: 2000-02-29, dtype: float64
23    193237.0
Name: 2000-03-31, dtype: float64
23    196236.0
Name: 2000-04-30, dtype: float64
23    199000.0
Name: 2000-05-31, dtype: float64
23    202008.0
Name: 2000-06-30, dtype: float64
23    204520.0
Name: 2000-07-31, dtype: float64
23    207300.0
Name: 2000-08-31, dtype: float64
23    210092.0
Name: 2000-09-30, dtype: float64
23    212540.0
Name: 2000-10-31, dtype: float64
23    214873.0
Name: 2000-11-30, dtype: float64
23    217034.0
Name: 2000-12-31, dtype: float64
23    220144.0
Name: 2001-01-31, dtype: float64
23    223190.0
Name: 2001-02-28, dtype: float64
23    225923.0
Name: 2001-03-31, dtype: float64
23    228207.0
Name: 2001-04-30, dtype: float64
23    230386.0
Name: 2001-05-31, dtype: float64
23    232228.0
Name: 2001-06-30, dtype: float64
23    233868.0
Name: 2001-07-31, dtype: float64
23    235395.0
Name: 2001-08-31, dtype: float64
23    237346.0
Name: 2001-09-30, dtype: float64
23    239152.0
Name: 2001-10-31, dtype: float64
23    240944.0
Name: 2001-11-30, dtype: float64
23    242540.0
Name: 2001-12-31, dtype: float64
23    243274.0
Name: 2002-01-31, dtype: float64
23    243847.0
Name: 2002-02-28, dtype: float64
23    244594.0
Name: 2002-03-31, dtype: float64
23    245522.0
Name: 2002-04-30, dtype: float64
23    246327.0
Name: 2002-05-31, dtype: float64
23    246776.0
Name: 2002-06-30, dtype: float64
23    247360.0
Name: 2002-07-31, dtype: float64
23    248193.0
Name: 2002-08-31, dtype: float64
23    248807.0
Name: 2002-09-30, dtype: float64
23    249349.0
Name: 2002-10-31, dtype: float64
23    249371.0
Name: 2002-11-30, dtype: float64
23    249401.0
Name: 2002-12-31, dtype: float64
23    249657.0
Name: 2003-01-31, dtype: float64
23    249840.0
Name: 2003-02-28, dtype: float64
23    249704.0
Name: 2003-03-31, dtype: float64
23    248898.0
Name: 2003-04-30, dtype: float64
23    248385.0
Name: 2003-05-31, dtype: float64
23    248254.0
Name: 2003-06-30, dtype: float64
23    248864.0
Name: 2003-07-31, dtype: float64
23    249051.0
Name: 2003-08-31, dtype: float64
23    249769.0
Name: 2003-09-30, dtype: float64
23    250334.0
Name: 2003-10-31, dtype: float64
23    251332.0
Name: 2003-11-30, dtype: float64
23    251772.0
Name: 2003-12-31, dtype: float64
23    251853.0
Name: 2004-01-31, dtype: float64
23    252002.0
Name: 2004-02-29, dtype: float64
23    252634.0
Name: 2004-03-31, dtype: float64
23    253974.0
Name: 2004-04-30, dtype: float64
23    255018.0
Name: 2004-05-31, dtype: float64
23    255571.0
Name: 2004-06-30, dtype: float64
23    255504.0
Name: 2004-07-31, dtype: float64
23    255672.0
Name: 2004-08-31, dtype: float64
23    255359.0
Name: 2004-09-30, dtype: float64
23    255951.0
Name: 2004-10-31, dtype: float64
23    256253.0
Name: 2004-11-30, dtype: float64
23    257732.0
Name: 2004-12-31, dtype: float64
23    258860.0
Name: 2005-01-31, dtype: float64
23    260500.0
Name: 2005-02-28, dtype: float64
23    260638.0
Name: 2005-03-31, dtype: float64
23    260440.0
Name: 2005-04-30, dtype: float64
23    260145.0
Name: 2005-05-31, dtype: float64
23    261056.0
Name: 2005-06-30, dtype: float64
23    261785.0
Name: 2005-07-31, dtype: float64
23    262127.0
Name: 2005-08-31, dtype: float64
23    262548.0
Name: 2005-09-30, dtype: float64
23    263293.0
Name: 2005-10-31, dtype: float64
23    264179.0
Name: 2005-11-30, dtype: float64
23    264068.0
Name: 2005-12-31, dtype: float64
23    264335.0
Name: 2006-01-31, dtype: float64
23    264292.0
Name: 2006-02-28, dtype: float64
23    265624.0
Name: 2006-03-31, dtype: float64
23    265963.0
Name: 2006-04-30, dtype: float64
23    266641.0
Name: 2006-05-31, dtype: float64
23    266562.0
Name: 2006-06-30, dtype: float64
23    266748.0
Name: 2006-07-31, dtype: float64
23    267083.0
Name: 2006-08-31, dtype: float64
23    266868.0
Name: 2006-09-30, dtype: float64
23    266469.0
Name: 2006-10-31, dtype: float64
23    266162.0
Name: 2006-11-30, dtype: float64
23    266197.0
Name: 2006-12-31, dtype: float64
23    265873.0
Name: 2007-01-31, dtype: float64
23    264599.0
Name: 2007-02-28, dtype: float64
23    263829.0
Name: 2007-03-31, dtype: float64
23    264286.0
Name: 2007-04-30, dtype: float64
23    265209.0
Name: 2007-05-31, dtype: float64
23    264931.0
Name: 2007-06-30, dtype: float64
23    265303.0
Name: 2007-07-31, dtype: float64
23    265226.0
Name: 2007-08-31, dtype: float64
23    265424.0
Name: 2007-09-30, dtype: float64
23    263594.0
Name: 2007-10-31, dtype: float64
23    262007.0
Name: 2007-11-30, dtype: float64
23    259911.0
Name: 2007-12-31, dtype: float64
23    258871.0
Name: 2008-01-31, dtype: float64
23    257787.0
Name: 2008-02-29, dtype: float64
23    256545.0
Name: 2008-03-31, dtype: float64
23    254144.0
Name: 2008-04-30, dtype: float64
23    251139.0
Name: 2008-05-31, dtype: float64
23    249083.0
Name: 2008-06-30, dtype: float64
23    246771.0
Name: 2008-07-31, dtype: float64
23    245497.0
Name: 2008-08-31, dtype: float64
23    244033.0
Name: 2008-09-30, dtype: float64
23    244066.0
Name: 2008-10-31, dtype: float64
23    242838.0
Name: 2008-11-30, dtype: float64
23    242149.0
Name: 2008-12-31, dtype: float64
23    239633.0
Name: 2009-01-31, dtype: float64
23    238448.0
Name: 2009-02-28, dtype: float64
23    237117.0
Name: 2009-03-31, dtype: float64
23    238190.0
Name: 2009-04-30, dtype: float64
23    240538.0
Name: 2009-05-31, dtype: float64
23    242853.0
Name: 2009-06-30, dtype: float64
23    243821.0
Name: 2009-07-31, dtype: float64
23    243244.0
Name: 2009-08-31, dtype: float64
23    243090.0
Name: 2009-09-30, dtype: float64
23    243153.0
Name: 2009-10-31, dtype: float64
23    243942.0
Name: 2009-11-30, dtype: float64
23    244381.0
Name: 2009-12-31, dtype: float64
23    246564.0
Name: 2010-01-31, dtype: float64
23    248071.0
Name: 2010-02-28, dtype: float64
23    249300.0
Name: 2010-03-31, dtype: float64
23    247984.0
Name: 2010-04-30, dtype: float64
23    245771.0
Name: 2010-05-31, dtype: float64
23    243416.0
Name: 2010-06-30, dtype: float64
23    241985.0
Name: 2010-07-31, dtype: float64
23    241182.0
Name: 2010-08-31, dtype: float64
23    240266.0
Name: 2010-09-30, dtype: float64
23    238693.0
Name: 2010-10-31, dtype: float64
23    237500.0
Name: 2010-11-30, dtype: float64
23    236999.0
Name: 2010-12-31, dtype: float64
23    236058.0
Name: 2011-01-31, dtype: float64
23    235661.0
Name: 2011-02-28, dtype: float64
23    234715.0
Name: 2011-03-31, dtype: float64
23    234601.0
Name: 2011-04-30, dtype: float64
23    233241.0
Name: 2011-05-31, dtype: float64
23    232118.0
Name: 2011-06-30, dtype: float64
23    231037.0
Name: 2011-07-31, dtype: float64
23    230840.0
Name: 2011-08-31, dtype: float64
23    230904.0
Name: 2011-09-30, dtype: float64
23    231917.0
Name: 2011-10-31, dtype: float64
23    233023.0
Name: 2011-11-30, dtype: float64
23    233380.0
Name: 2011-12-31, dtype: float64
23    233862.0
Name: 2012-01-31, dtype: float64
23    233724.0
Name: 2012-02-29, dtype: float64
23    234705.0
Name: 2012-03-31, dtype: float64
23    235591.0
Name: 2012-04-30, dtype: float64
23    237308.0
Name: 2012-05-31, dtype: float64
23    239379.0
Name: 2012-06-30, dtype: float64
23    241901.0
Name: 2012-07-31, dtype: float64
23    244280.0
Name: 2012-08-31, dtype: float64
23    246580.0
Name: 2012-09-30, dtype: float64
23    248188.0
Name: 2012-10-31, dtype: float64
23    249951.0
Name: 2012-11-30, dtype: float64
23    252017.0
Name: 2012-12-31, dtype: float64
23    254152.0
Name: 2013-01-31, dtype: float64
23    256490.0
Name: 2013-02-28, dtype: float64
23    258499.0
Name: 2013-03-31, dtype: float64
23    260900.0
Name: 2013-04-30, dtype: float64
23    263284.0
Name: 2013-05-31, dtype: float64
23    266167.0
Name: 2013-06-30, dtype: float64
23    269384.0
Name: 2013-07-31, dtype: float64
23    272717.0
Name: 2013-08-31, dtype: float64
23    275185.0
Name: 2013-09-30, dtype: float64
23    277372.0
Name: 2013-10-31, dtype: float64
23    278831.0
Name: 2013-11-30, dtype: float64
23    280685.0
Name: 2013-12-31, dtype: float64
23    282451.0
Name: 2014-01-31, dtype: float64
23    284283.0
Name: 2014-02-28, dtype: float64
23    286142.0
Name: 2014-03-31, dtype: float64
23    288338.0
Name: 2014-04-30, dtype: float64
23    292559.0
Name: 2014-05-31, dtype: float64
23    295531.0
Name: 2014-06-30, dtype: float64
23    297186.0
Name: 2014-07-31, dtype: float64
23    297611.0
Name: 2014-08-31, dtype: float64
23    299445.0
Name: 2014-09-30, dtype: float64
23    302342.0
Name: 2014-10-31, dtype: float64
23    305990.0
Name: 2014-11-30, dtype: float64
23    309644.0
Name: 2014-12-31, dtype: float64
23    313539.0
Name: 2015-01-31, dtype: float64
23    317771.0
Name: 2015-02-28, dtype: float64
23    322211.0
Name: 2015-03-31, dtype: float64
23    326313.0
Name: 2015-04-30, dtype: float64
23    328043.0
Name: 2015-05-31, dtype: float64
23    330326.0
Name: 2015-06-30, dtype: float64
23    333877.0
Name: 2015-07-31, dtype: float64
23    339156.0
Name: 2015-08-31, dtype: float64
23    343931.0
Name: 2015-09-30, dtype: float64
23    348058.0
Name: 2015-10-31, dtype: float64
23    351747.0
Name: 2015-11-30, dtype: float64
23    355318.0
Name: 2015-12-31, dtype: float64
23    358762.0
Name: 2016-01-31, dtype: float64
23    361761.0
Name: 2016-02-29, dtype: float64
23    363663.0
Name: 2016-03-31, dtype: float64
23    365549.0
Name: 2016-04-30, dtype: float64
23    368018.0
Name: 2016-05-31, dtype: float64
23    371348.0
Name: 2016-06-30, dtype: float64
23    374286.0
Name: 2016-07-31, dtype: float64
23    377192.0
Name: 2016-08-31, dtype: float64
23    380111.0
Name: 2016-09-30, dtype: float64
23    383043.0
Name: 2016-10-31, dtype: float64
23    385889.0
Name: 2016-11-30, dtype: float64
23    388619.0
Name: 2016-12-31, dtype: float64
23    390952.0
Name: 2017-01-31, dtype: float64
23    393993.0
Name: 2017-02-28, dtype: float64
23    398015.0
Name: 2017-03-31, dtype: float64
23    401584.0
Name: 2017-04-30, dtype: float64
23    405114.0
Name: 2017-05-31, dtype: float64
23    407751.0
Name: 2017-06-30, dtype: float64
23    410551.0
Name: 2017-07-31, dtype: float64
23    412035.0
Name: 2017-08-31, dtype: float64
23    413558.0
Name: 2017-09-30, dtype: float64
23    415480.0
Name: 2017-10-31, dtype: float64
23    418259.0
Name: 2017-11-30, dtype: float64
23    421055.0
Name: 2017-12-31, dtype: float64
23    424159.0
Name: 2018-01-31, dtype: float64
23    427046.0
Name: 2018-02-28, dtype: float64
23    430527.0
Name: 2018-03-31, dtype: float64
23    434594.0
Name: 2018-04-30, dtype: float64
23    438987.0
Name: 2018-05-31, dtype: float64
23    442366.0
Name: 2018-06-30, dtype: float64
23    445203.0
Name: 2018-07-31, dtype: float64
23    447540.0
Name: 2018-08-31, dtype: float64

23    450532.0
Name: 2018-09-30, dtype: float64
23    453461.0
Name: 2018-10-31, dtype: float64
23    455942.0
Name: 2018-11-30, dtype: float64
23    457320.0
Name: 2018-12-31, dtype: float64
23    458097.0
Name: 2019-01-31, dtype: float64
23    458273.0
Name: 2019-02-28, dtype: float64
23    457476.0
Name: 2019-03-31, dtype: float64
23    456354.0
Name: 2019-04-30, dtype: float64
23    454860.0
Name: 2019-05-31, dtype: float64
23    454558.0
Name: 2019-06-30, dtype: float64
23    454578.0
Name: 2019-07-31, dtype: float64
23    455615.0
Name: 2019-08-31, dtype: float64
23    456193.0
Name: 2019-09-30, dtype: float64
23    456663.0
Name: 2019-10-31, dtype: float64
23    457096.0
Name: 2019-11-30, dtype: float64
23    458434.0
Name: 2019-12-31, dtype: float64
23    460255.0
Name: 2020-01-31, dtype: float64
23    462640.0
Name: 2020-02-29, dtype: float64
23    465466.0
Name: 2020-03-31, dtype: float64
23    CO Denver County
Name: state_county_for_joining, dtype: object

In [81]:
#single out the rental price in Dec of 2019
dec_den_rent = df_denver_county_rent['2019-12'][23]

In [82]:
#single out the home price in Dec of 2019
dec_den_home = df_denver_county_home['2019-12-31'][23]

In [83]:
#Median rent for Denver in December of 2019
print(dec_den_rent)

2150.0

In [84]:
#Median home price for Denver in December of 2019
print(dec_den_home)

458434.0

In [86]:
dec_ratio = dec_den_rent / dec_den_home

In [87]:
print(dec_ratio)

0.004689879022934599

If I'm going to compare a ratio for home prices to rent prices, it would appear that the
last month of data I have for rent is December of 2019.  The house price data has info up to end March 2020.  This isn't necessarily a bad thing if I plot the data and have house price extend farther than rent price.

In [32]:
#establish uniqueness based on state and county pairing.

df_median_rent['state_county_for_joining'] = df_median_rent['State'] + ' ' + df_median_rent['CountyName']

In [34]:
df_median_home['state_county_for_joining'] = df_median_home['State'] + ' ' + df_median_home['CountyName']

In [35]:
df_median_home.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,state_county_for_joining
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,...,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0,NY Queens County
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,...,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0,CA Los Angeles County
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,...,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0,TX Harris County
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,...,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0,IL Cook County
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,...,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0,TX Bexar County

In [36]:
df_median_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,state_county_for_joining
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0,NY Queens County
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0,CA Los Angeles County
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0,TX Harris County
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0,IL Cook County
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0,TX Bexar County

In [37]:
#lets drop some columns
#where 1 is the axis number (0 for rows and 1 for columns.)

df_median_rent_dropped = df_median_rent.drop('2010-01', axis=1)

In [38]:
#check to make sure it dropped
df_median_rent_dropped.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-02,2010-03,2010-04,2010-05,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,state_county_for_joining
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,2300.0,...,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0,NY Queens County
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0,CA Los Angeles County
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0,TX Harris County
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,1600.0,1500.0,1500.0,1500.0,...,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0,IL Cook County
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0,TX Bexar County

In [55]:
#drop some more columns

df_median_rent_dropped = df_median_rent.drop(['2010-01', '2010-02', '2010-03', '2010-04',
                                             '2010-05', '2010-06', '2010-07', '2010-08',
                                             '2010-09', '2010-10', '2010-11', '2010-12',
                                             '2011-01', '2011-02', '2011-03', '2011-04',
                                             '2011-05', '2011-06', '2011-07', '2011-08',
                                             '2011-09', '2011-10', '2011-11', '2011-12'], axis=1)

In [56]:
df_median_rent_dropped.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2012-01,2012-02,2012-03,2012-04,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,state_county_for_joining
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,2450.0,2600.0,2550.0,2595.0,...,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0,NY Queens County
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0,CA Los Angeles County
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0,TX Harris County
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,1625.0,1635.0,1650.0,1600.0,...,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0,IL Cook County
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,1150.0,1150.0,1150.0,1050.0,...,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0,TX Bexar County

In [65]:
missing_df_rent = pd.concat([df_median_rent_dropped.isnull().sum(), 100 * df_median_rent_dropped.isnull().mean()], axis=1)
missing_df_rent.columns=['count', '%']
missing_df_rent.sort_values(by='count', ascending=True)

            count          %
Unnamed: 0      0   0.000000
2019-11         0   0.000000
2019-10         0   0.000000
2019-09         0   0.000000
2019-08         0   0.000000
...           ...        ...
2012-05      1070  62.978222
2012-04      1076  63.331371
2012-03      1088  64.037669
2012-02      1098  64.626251
2012-01      1104  64.979400

[103 rows x 2 columns]

In [64]:
#count unique values in 2019-12

print(len(df_median_rent_dropped['2019-11'].unique()))

432

In [66]:
print(len(df_median_rent_dropped['2019-12'].unique()))

427

In [67]:
print(len(df_median_home['2019-11-30'].unique()))

26198

In [68]:
print(len(df_median_home['2019-12-31'].unique()))

26222

In [89]:
#rent_2019 = df_median_rent_dropped.iloc['2900']