## Data Wrangling for Zillow Rental/House prices

In [1]:
#Import libraries that will be used:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Pull in the csv files from the download folder
#median rent
median_rent_all_homes = pd.read_csv('../data/raw/City_MedianRentalPrice_AllHomes.csv')

In [6]:
#Median house price
home_prices_all = pd.read_csv('../data/raw/City_Zhvi_AllHomes.csv')

## Data Defining - gaining understanding of data features to inform the next steps

In [7]:
#get head to see column names
median_rent_all_homes.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2800.0,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1500.0,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1775.0,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0

In [9]:
#looking at data types
median_rent_all_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699 entries, 0 to 1698
Columns: 126 entries, Unnamed: 0 to 2019-12
dtypes: float64(120), int64(2), object(4)
memory usage: 1.6+ MB

In [8]:
#get head to see column names
home_prices_all.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0

In [10]:
#looking at data types
home_prices_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27330 entries, 0 to 27329
Columns: 300 entries, Unnamed: 0 to 2020-03-31
dtypes: float64(291), int64(3), object(6)
memory usage: 62.6+ MB