## Data Wrangling for Zillow Rental/House prices

In [1]:
#Import libraries that will be used:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#Pull in the csv files from the download folder
#median rent
df_median_rent = pd.read_csv('../data/raw/City_MedianRentalPrice_AllHomes.csv')

In [14]:
#Median house price
df_median_home = pd.read_csv('../data/raw/City_Zhvi_AllHomes.csv')

## Data Defining - gaining understanding of data features to inform the next steps

In [13]:
#get head to see column names
df_median_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2800.0,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1500.0,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1775.0,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0

In [15]:
#looking at data types
df_median_home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27330 entries, 0 to 27329
Columns: 300 entries, Unnamed: 0 to 2020-03-31
dtypes: float64(291), int64(3), object(6)
memory usage: 62.6+ MB

In [ ]:
# We see that we have 1699 rows, 126 columns, of that 120 are floats, 2 are int's, and 4 are objects.

In [16]:
#get head to see column names
df_median_rent.head()

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,NaN,...,2800.0,2875.0,2900.0,2895.0,2850.0,2925.0,2900.0,2900.0,2899.0,2900.0
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,3500.0,3500.0,3500.0,3520.0,3500.0,3600.0,3607.0,3665.0,3600.0,3550.0
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1500.0,1544.0,1550.0,1550.0,1550.0,1550.0,1550.0,1500.0,1500.0,1500.0
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,1600.0,1500.0,1500.0,...,1775.0,1795.0,1800.0,1800.0,1800.0,1812.5,1800.0,1800.0,1766.0,1750.0
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,1300.0,1300.0,1325.0,1345.0,1349.0,1322.5,1299.0,1300.0,1299.0,1300.0

In [17]:
#looking at data types
df_median_home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27330 entries, 0 to 27329
Columns: 300 entries, Unnamed: 0 to 2020-03-31
dtypes: float64(291), int64(3), object(6)
memory usage: 62.6+ MB

In [ ]:
# We see that we have 27,330 rows of data and 300 columns.  291 are floats, 3 are int's and 6 are objects.

In [18]:
#Get summary stats for both dataframes
df_median_home.describe()

,Unnamed: 0,RegionID,SizeRank,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
count,27330.000000,27330.000000,27330.000000,1.061700e+04,1.082300e+04,1.086400e+04,1.088600e+04,1.096600e+04,1.099600e+04,1.102700e+04,...,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04,2.733000e+04
mean,13664.500000,65503.787413,14746.725027,1.219672e+05,1.216621e+05,1.215214e+05,1.215839e+05,1.217755e+05,1.218581e+05,1.220267e+05,...,2.029051e+05,2.034545e+05,2.040310e+05,2.046374e+05,2.052243e+05,2.057486e+05,2.063022e+05,2.069170e+05,2.075952e+05,2.082987e+05
std,7889.635765,103118.832955,8791.175746,9.203687e+04,9.170803e+04,9.148739e+04,9.128655e+04,9.123573e+04,9.112448e+04,9.096034e+04,...,2.328879e+05,2.322759e+05,2.320536e+05,2.321621e+05,2.323428e+05,2.328264e+05,2.336311e+05,2.349156e+05,2.363567e+05,2.378801e+05
min,0.000000,3299.000000,0.000000,1.192900e+04,1.184000e+04,1.190100e+04,1.187400e+04,1.193200e+04,1.196500e+04,1.200700e+04,...,1.117700e+04,1.122300e+04,1.126600e+04,1.134900e+04,1.141300e+04,1.154600e+04,1.173800e+04,1.194500e+04,1.212200e+04,1.227900e+04
25%,6832.250000,18398.000000,7112.250000,6.852900e+04,6.844600e+04,6.829875e+04,6.845600e+04,6.855250e+04,6.862775e+04,6.876450e+04,...,9.779250e+04,9.816750e+04,9.853300e+04,9.886250e+04,9.924125e+04,9.949600e+04,9.972925e+04,1.000000e+05,1.001025e+05,1.002585e+05
50%,13664.500000,33660.500000,14453.000000,1.014940e+05,1.013100e+05,1.011960e+05,1.013055e+05,1.016345e+05,1.016885e+05,1.018490e+05,...,1.499025e+05,1.504585e+05,1.509760e+05,1.515350e+05,1.521440e+05,1.526030e+05,1.531035e+05,1.535030e+05,1.539470e+05,1.543755e+05
75%,20496.750000,49422.750000,22301.000000,1.492710e+05,1.487455e+05,1.487505e+05,1.488140e+05,1.490392e+05,1.493105e+05,1.497230e+05,...,2.346790e+05,2.353910e+05,2.360832e+05,2.373352e+05,2.381422e+05,2.390428e+05,2.398260e+05,2.406612e+05,2.413408e+05,2.421805e+05
max,27329.000000,760887.000000,29449.000000,1.764961e+06,1.765793e+06,1.762010e+06,1.772187e+06,1.775311e+06,1.785895e+06,1.781067e+06,...,1.393707e+07,1.362318e+07,1.344728e+07,1.332819e+07,1.326808e+07,1.328486e+07,1.334774e+07,1.348352e+07,1.358739e+07,1.366959e+07

In [19]:
df_median_rent.describe()

,Unnamed: 0,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
count,1699.00000,1699.000000,1.0,30.000000,62.000000,80.000000,83.000000,84.000000,90.000000,99.000000,...,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000,1699.000000
mean,849.00000,849.992348,895.0,1408.433333,1343.040323,1408.325000,1420.361446,1446.375000,1481.850000,1547.792929,...,1922.993231,1940.743967,1958.058564,1961.466157,1959.818128,1948.314891,1937.666569,1933.940259,1923.351383,1929.953208
std,490.60337,490.601169,NaN,444.181264,395.872934,473.968741,479.819442,507.469388,547.253574,663.246884,...,2039.147687,2050.303717,2137.045249,2119.174137,2040.416334,1895.394018,1839.838980,1931.682722,1811.601190,1884.996587
min,0.00000,1.000000,895.0,795.000000,737.500000,737.500000,750.000000,795.000000,775.000000,825.000000,...,550.000000,575.000000,575.000000,600.000000,600.000000,590.000000,565.000000,575.000000,575.000000,525.000000
25%,424.50000,425.000000,895.0,1112.500000,1058.750000,1050.000000,1061.250000,1076.875000,1095.000000,1100.000000,...,1300.000000,1300.000000,1325.000000,1325.000000,1318.750000,1325.000000,1300.000000,1300.000000,1300.000000,1300.000000
50%,849.00000,850.000000,895.0,1300.000000,1250.000000,1295.000000,1295.000000,1295.000000,1297.500000,1300.000000,...,1620.000000,1650.000000,1650.000000,1650.000000,1662.500000,1650.000000,1650.000000,1650.000000,1650.000000,1645.000000
75%,1273.50000,1274.500000,895.0,1600.000000,1500.000000,1671.875000,1660.000000,1687.500000,1837.500000,1800.000000,...,2100.000000,2100.000000,2125.000000,2150.000000,2175.000000,2150.000000,2150.000000,2141.250000,2100.000000,2100.000000
max,1698.00000,1699.000000,895.0,2400.000000,2500.000000,3300.000000,3225.000000,3200.000000,3325.000000,4200.000000,...,45000.000000,47500.000000,50000.000000,50000.000000,45000.000000,43333.000000,40000.000000,43333.000000,37500.000000,39250.000000

In [21]:
#Check for missing data

#Count with .sum() the number of missing values .isnull() in each column of 
#home_prices as well as the percentages .mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing_df_rent = pd.concat([df_median_rent.isnull().sum(), 100 * df_median_rent.isnull().mean()], axis=1)
missing_df_rent.columns=['count', '%']
missing_df_rent.sort_values(by='count', ascending=False)

            count          %
2010-01      1698  99.941142
2010-02      1669  98.234255
2010-03      1637  96.350795
2010-04      1619  95.291348
2010-05      1616  95.114773
...           ...        ...
RegionName      0   0.000000
SizeRank        0   0.000000
CountyName      0   0.000000
State           0   0.000000
2019-12         0   0.000000

[126 rows x 2 columns]

In [ ]:
#Check for missing data in other data frame

#Count with .sum() the number of missing values .isnull() in each column of 
#home_prices as well as the percentages .mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing_df_home = pd.concat([df_median_r.isnull().sum(), 100 * df_median_rent.isnull().mean()], axis=1)
missing_df_home.columns=['count', '%']
missing_df_home.sort_values(by='count', ascending=False)